<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Workload Radar - Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container" style="display:flex; justify-content:center; align-items:center; height:90vh;">

        <div class="card" style="width:400px; text-align:center;">

            <h1>📊 Workload Radar</h1>
            <p style="color:#94a3b8;">Student Productivity Dashboard</p>

            <hr style="border:1px solid #334155; margin:20px 0;">

            <form th:action="@{/login}" method="post">

                <div style="margin-bottom:15px; text-align:left;">
                    <label>Email</label><br>
                    <input type="text" name="username" required style="width:100%;" />
                </div>

                <div style="margin-bottom:20px; text-align:left;">
                    <label>Password</label><br>
                    <input type="password" name="password" required style="width:100%;" />
                </div>

                <button type="submit" class="btn" style="width:100%;">
                    Login
                </button>

            </form>

            <p style="margin-top:20px; font-size:14px;">
                Don’t have an account?
                <a th:href="@{/register}" style="color:#38bdf8; text-decoration:none;">
                    Create one
                </a>
            </p>

        </div>

    </div>

</body>

</html>